
@{
    Html.RenderPartial("~/Views/Chamado/_M_QualProjeto.cshtml");
}

<div class="modal fade" data-backdrop="static" id="estagioProjetoV" tabindex="-1" role="dialog" aria-labelledby="basicmodal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="mymodallabel">O projeto que está usando está em:</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @*<label for="motivo"> Você está com um: </label>*@
                    <button type="button" style="max-width:50%" class="form-control" id="piloto_homol" name="piloto_homol" data-toggle="modal" data-target="#qualProjeto" data-dismiss="modal"> Piloto ou homologação</button>
                    <button type="button" style="max-width:50%" class="form-control" id="producao" name="producao" data-toggle="modal" data-target="#qualProjeto" data-dismiss="modal"> Produção</button>

                </div>
            </div>
        </div>
    </div>
</div>

